body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.nav-bar{
    display:flex;
    background-color: #1F2937;
    color: #F9FaF8;
    justify-content: space-between;
}

.links{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}

.one.one-left{
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex:1;
}

.one-left{
    color:#F9FaF8;
}


.image-one{
    width:300px;
    height:200px;
    background-color: #E5E7EB;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}


.content{
    display:flex;
    flex-direction: column;
}

.content-box{
    display:flex;
    flex-direction:row;
    flex:1;
}

.one{
    background-color: #1F2937;
}

.two{
    flex-direction: column;
    align-items: center;
}

.three{
  background-color: #E5E7EB;  
}

.image-two{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #3882F6;
    background-color:#F9FaF8;
    border-radius: 5px;
}

.image-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.image-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-one{
    background-color: #3882F6;
    border:none;
    border-radius: 5px;
    padding: 5px 20px;
}

.quote{
    font-style: italic;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color: #F9FaF8;
}